.container{
  width: 100%;
  max-width: 800px;
  padding: 16px;
  margin: auto;
  margin-top: -250px;
}

.event-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
  gap: 16px;
}

.bg-image{
  height: 300px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 0;
}