
// shadows
.shadow{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);;
}

.shadow-inset{
  box-shadow: inset 0px 0px 2px -8px rgba(0,0,0,0.24);
}
//----------------------------------------------------------

// text
p,h1,h2,h3,h4,h5{
  line-height: 1.2em;
}

.display { font-size: var(--font-size-display) }
.headline { font-size: var(--font-size-headline) }
.title { font-size: var(--font-size-title) }
.xlarge { font-size: var(--font-size-xlarge) }
.large { font-size: var(--font-size-large) }
.medium { font-size: var(--font-size-medium) }
.regular { font-size: var(--font-size-regular) }
.small { font-size: var(--font-size-small) }

.w-light { font-weight: 300 }
.w-regular { font-weight: 400 }
.w-medium { font-weight: 500 }
.w-bold { font-weight: 700 }

.color100{ color: rgba($color: #1f2429, $alpha: .7);}

//----------------------------------------------------------

// margin
.margin-b100{ margin-bottom: 8px }
.margin-b200{ margin-bottom: 16px }
.margin-b300{ margin-bottom: 32px }
.margin-b400{ margin-bottom: 64px }

.margin-r100{ margin-right: 8px }
.margin-r200{ margin-right: 16px }
.margin-r300{ margin-right: 32px }
.margin-r400{ margin-right: 64px }



// button container

.btn-container{
  background: none;
  border: none;
}

// gradients 
.gradient{
  background: linear-gradient(30deg,var(--color-main),var(--color-second));
}

.image{
  width: 100%;
}

.c-white{
  color: #fff;
}

.relative{
  position: relative;
}