//fonts
%font{
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-display: 40px;
  --font-size-headline: 35px;
  --font-size-title: 28px;
  --font-size-header: 25px;
  --font-size-large: 18px;
  --font-size-regular:16px;
  --font-size-small: 13px;
}

// colors
%colors{
  --color-main: #7764e4;
  --color-second: #11cdef;
  --color-bg: #f1f3f9;
  --color-grey: #8898aa;
  --color-dark: #172b4d;
  --color-red:#e74c3c;
  --color-orange:#f39c12;
  --color-blue:#3498db;
  --color-green:#44b922;
}
