.EventCard{
  background: #fff;
  height: 200px;
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;

  &:hover{ background: #f8f8f8}
  &.center{text-align: center; padding-top: 50px;}
}

.EventCard:hover h2 {
  color: var(--color-second);
}

