.EventCard{
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #fff;
  height: 160px;
  border-radius: 10px;
  padding: 24px;
  cursor: pointer;

  &:hover{ background: #f8f8f8}
  &.center{text-align: center; padding-top: 46px;}

  .status{
    
  }
}
