html, body, div, iframe,
h1, h2, h3, h4, h5, h6, p,
a, strong, ol, ul, li,
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	color: inherit;
}

button{
	color: inherit;
	background: none;
	border: none;
	cursor: pointer;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}