@import './styles/reset.scss'; 
@import './styles/vars.scss';
@import './styles/common.scss';
@import './styles//general.scss';
@import './styles/iconFonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
  @extend %colors;
  @extend %font
}

body{
  font-family: 'Roboto', sans-serif;
  color:  #1f2429;
}

hr{
  margin: 48px 0;
}
