@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./styles/reset.scss";
@import "./styles/vars.scss";
@import "./styles//general.scss";
@import "./styles/iconFonts.scss";

:root {
  @extend %colors;
  @extend %font;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
} // font size for use rem

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-bg);
  font-size: 1.6rem;
}

#root {
  min-height: 100vh;
}

#modal-root {
  z-index: 999999;
}

button,
input {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

hr {
  margin: 36px 0;
}

// field =======================================================
.field-container {
  margin-bottom: 3.6rem;

  .error-message {
    color: var(--color-red);
    position: absolute;
  }
}

input[type="text"] {
  width: 0;
}

.field {
  margin-bottom: 0.8rem;
  height: 5rem;
  display: flex;
  border-radius: 5px;
  align-items: center;
  background: #fff;
  padding: 0 16px;
  flex-wrap: wrap;
  border: 1px solid transparent;
  width: 100%;

  &.text-area {
    height: 10rem;
    padding: 16px;
  }

  &:focus-within {
    border: 1px solid var(--color-main);
  }
  ::placeholder {
    color: var(--color-dark);
  }

  .field__icon {
    margin-right: 16px;
  }

  input,
  textarea {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border: none;
    height: 100%;
    padding: 0;
    width: 1fr;
    flex: 1 0 auto;
    resize: none;

    &:disabled {
      background: #fff;
    }
  }

  &.error {
    border: 1px solid var(--color-red);
    input {
      color: var(--color-red);
    }
    & > i {
      color: var(--color-red);
    }
    ::placeholder {
      color: var(--color-red);
    }
  }
}
// ===================================================

// profile photo =====================================
.ProfilePhoto {
  width: 32px;
  height: 32px;
  position: relative;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
//====================================================

// Toast =================================================
.Toast {
  padding: 4px;
  background-color: rgba($color: #000000, $alpha: 0.8);
}
// =======================================================

// emergent Card ==========================================
.EmergentCard {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 54px;
  right: -36px;
  border-radius: 8px;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    transform: rotate(45deg);
    top: -8px;
    right: 44px;
    z-index: -1;
  }
  &.active {
    display: block;
  }
}
// =========================================================

// buttons =================================================
.btn {
  background: var(--color-main);
  border: none;
  border-radius: 4px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;

  &:active {
    background: var(--color-main-active);
  }

  &:disabled {
    background: #8898aa;
    cursor: not-allowed;
  }

  &.btn-out {
    border: 1px solid var(--color-main);
    background: transparent;
    color: var(--color-main);

    &:active {
      color: var(--color-dark);
      border: 1px solid var(--color-dark);
    }

    &:disabled {
      color: #8898aa;
      border: 1px solid #8898aa;
    }
  }
}

.btn-white {
  background: white;
  color: var(--color-main);
}
// ===================================================

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

// profile options ======================================

.profile-options {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 4px;
  flex-flow: column;
  color: var(--color-dark);
  img {
    width: 50px;
  }
}

.profile-options__list {
  color: var(--color-dark);
  display: flex;
  flex-flow: column;
  width: 100%;
  button {
    padding: 1.2rem;
    border-top: 1px solid #f1f3f9;
    width: 100%;
  }
  button:hover {
    color: var(--color-second);
  }
}

.fill-main {
  fill: var(--color-main);
}

.content-card {
  background: #fff;
  padding: 16px;
  position: relative;

  .content-card__edit {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
// =======================================================

// selector ======================================
.selector {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.selector-icon {
  width: 40px;
  height: 20px;
  background: var(--color-grey);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  margin-right: 16px;
}

.selector-icon::after {
  content: "";
  background: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.selector-icon.on {
  background: var(--color-second);
  &::after {
    left: auto;
    right: 2px;
  }
}

.selector-icon.disabled {
  background: #777;
  cursor: default;
}
//==================================================

// regular inputs ===========================================

//================================================================
